{% extends 'base_generic.html' %}

{% block title %}
<title>選擇音檔</title>
{% endblock %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/select_music.css'%}">
{% endblock head %}

{% block content %}
<div class="center" data-aos="fade-up" data-aos-easing="ease">
    <div class="container">
        <div class="progress-bar-framelody ">
            <div class="step completed" id="step1">1</div>
            <div class="divider" id="divider1"></div>
            <div class="step" id="step2">2</div>
            <div class="divider" id="divider2"></div>
            <div class="step" id="step3">3</div>
            <div class="divider" id="divider3"></div>
            <div class="step" id="step4">4</div>
        </div>
        <h1>選擇音檔</h1>
        <form action="/upload/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="file-select">
                <div class="file-icon">
                    <img src="{% static 'img/game-icons_sound-waves.svg' %}" alt="sound-waves" class="icon">
                    {% comment %} <img src="{% static 'img/button.svg' %}" alt="plus icon" class="plus-icon"> {% endcomment %}
                    <input type="file" name="file" accept=".mp3, .wav" required />
                    <img src="{% static 'img/game-icons_sound-waves.svg' %}" alt="sound-waves" class="icon">
                </div>
            </div>
            {% comment %} <input type="submit" class="confirm-button" onclick="updateProgress()" value="開始上傳" /> {% endcomment %}
            <input type="submit" class="confirm-button" value="開始上傳" />
        </form>
    </div>
</div>

<script src="{% static 'js/select_music.js' %}"></script>
{% endblock content %}