<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>選擇音檔</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/select_music.css'%}">
</head>
<body>
    <div class="container">
        <div class="progress-bar">
            <div class="step completed" id="step1">1</div>
            <div class="divider" id="divider1"></div>
            <div class="step" id="step2">2</div>
            <div class="divider" id="divider2"></div>
            <div class="step" id="step3">3</div>
            <div class="divider" id="divider3"></div>
            <div class="step" id="step4">4</div>
        </div>
        <h1>選擇音檔</h1>
        <form action="/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="file-select">
                <div class="file-icon">
                    <img src="{% static 'img/game-icons_sound-waves.svg' %}" alt="sound-waves" class="icon">
                    {% comment %} <img src="{% static 'img/button.svg' %}" alt="plus icon" class="plus-icon"> {% endcomment %}
                    <input type="file" name="file" required />
                    <img src="{% static 'img/game-icons_sound-waves.svg' %}" alt="sound-waves" class="icon">
                </div>
            </div>
            <input type="submit" class="confirm-button" onclick="updateProgress()" value="開始上傳" />
        </form>
    </div>
    <script src="{% static 'js/select_music.js' %}"></script>
</body>
</html>
