{% include "base_generic.html" %}
{% block title %}
    <title>調整</title>
{% endblock title %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/adjust.css' %}">
{% endblock head %}
{% block content %}
    <main>
        <h2>預覽動畫</h2>
        <div class="content-container2">
            <div class="preview-container">
                <iframe src = "{% url 'test' %}" id = "myIframe"></iframe>
                <!-- <div class="overlay-text">Frame-lody</div> -->
                <button class="play-button" id="play-button">⏸</button>
                <button class="fullscreen-button" id="fullscreen-button">
                    <img src="{% static 'img/adjust/fullscreen icon.svg' %}">
                </button>
            </div>
            <div class="settings-container">
                <div class="color-selection">
                    {% for color in segment.color %}
                        <label for="color{{ forloop.counter }}">{{ color }}</label>
                        <br>
                        <input type="color"
                               id="color{{ forloop.counter }}"
                               name="color{{ forloop.counter }}"
                               value="{{ color }}"
                               onchange="updateLabel('color{{ forloop.counter }}')">
                        <br>
                    {% endfor %}
                </div>
                <div class="speed-control">
                    <label for="speed">速度</label>
                    <br>
                    <input type="range"
                           id="speed"
                           name="speed"
                           min="0.5"
                           max="16"
                           step="0.5"
                           value="1">
                    <output id="speedValue">1x</output>
                </div>
                <button class="ok-button">ok</button>
            </div>
        </div>
    </main>
    <script>let testUrl = "{% url 'test' %}"</script>
    <script src="{% static 'js/adjust.js' %}"></script>
    <script>
const segment = {{ segment.color|safe }};
console.log(segment);
    </script>
{% endblock content %}
