<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>模式選擇</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/select_mode.css' %}">
</head>
<body>
    <div class="container">
        <div class="mode-container">
            <div class="mode-box">
                <h2>一般模式</h2>
                <div class="button-container">
                    <div class="button-group">
                        <button class="image-button button-1">圖片</button>
                        <button class="image-button button-2">文字</button>
                        <button class="image-button button-3">形狀</button>
                        <button class="image-button button-4">粒子線條</button>
                        <button class="image-button button-1">圖片</button>
                        <button class="image-button button-2">文字</button>
                        <button class="image-button button-3">形狀</button>
                        <button class="image-button button-4">粒子線條</button>
                    </div>
                </div>
            </div>
            <div class="mode-box">
                <h2>互動模式</h2>
                <div class="button-container">
                    <div class="button-group">
                        <button class="image-button button-5">圖片</button>
                        <button class="image-button button-6">文字</button>
                        <button class="image-button button-7">形狀</button>
                        <button class="image-button button-8">粒子線條</button>
                        <button class="image-button button-5">圖片</button>
                        <button class="image-button button-6">文字</button>
                        <button class="image-button button-7">形狀</button>
                        <button class="image-button button-8">粒子線條</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
