{% include "base_generic.html" %}
{% block title %}
    <title>p5.js 自動切換動畫</title>
{% endblock title %}
{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/p5@1.9.4/lib/p5.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/p5@1.9.4/lib/addons/p5.sound.min.js"></script> -->
    <!-- <script src="https://unpkg.com/ml5@1.0.1/dist/ml5.min.js"></script> -->
    <!-- <script src="https://unpkg.com/ml5@latest/dist/ml5.min.js"></script> -->
    <script src="https://unpkg.com/ml5@1/dist/ml5.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}">
    <style>
        /* 起始按鈕樣式 */
        #start-button {
            font-family: 'Arial', sans-serif;
            font-size: 18px;
            font-weight: bold;
            padding: 12px 24px;
            border-radius: 8px;
            border: 2px solid transparent;
            cursor: pointer;
            text-transform: uppercase;
            transition: all 0.3s ease;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-120%, -50%);
            background-color: #6B8E23; /* 深文青色系 */
            color: #FFFFFF;
            border: 2px solid #556B2F; /* 更深文青色系邊框 */
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            text-decoration: none;
            display: inline-block;
        }

        #start-button:hover {
            background-color: #556B2F; /* 深藍色 */
            color: #FFFFFF;
            transform: translate(-120%, -50%) scale(1.05);
            outline: none;
            box-shadow: 0 0 8px rgba(85, 107, 47, 0.41);
        }

        /* 編輯按鈕樣式 */
        .edit-button {
            font-family: 'Arial', sans-serif;
            font-size: 18px;
            font-weight: bold;
            padding: 12px 24px;
            border-radius: 8px;
            border: 2px solid transparent;
            cursor: pointer;
            text-transform: uppercase;
            transition: all 0.3s ease;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(120%, -50%);
            background-color:rgb(31, 114, 182); /* 藍色文青色系 */
            color: #FFFFFF;
            border: 2px solid #4169E1; /* 深藍色文青色系邊框 */
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            text-decoration: none;
            display: inline-block;
        }

        .edit-button:hover {
            background-color: #4169E1; /* 深綠色 */
            color: #FFFFFF;
            transform: translate(120%, -50%) scale(1.05);
            outline: none;
            box-shadow: 0 0 8px rgba(0, 123, 255, 0.8);
        }
    </style>
{% endblock head %}
{% block content %}
    <div id="canvas-container"></div>
    <button id="start-button">點擊開始</button>
    <a class="edit-button" href="{% url 'music_part' task_id=task_id %}">編輯</a>
    <script>
        let segments = {{ segments_json|safe }};
        let sketches = segments.map(segment => `{% static "show/" %}${segment.fields.sketch}`);
        let times = segments.map(segment => `${segment.fields.duration}`);
        let allColors = segments.map(segment => segment.fields.color);
        let allBpm = segments.map(segment => (segment.fields.bpm/100));
        console.log('times');
        console.log(times);
        console.log('sketches')
        console.log(sketches);
        console.log('allColors');
        console.log(allColors);
        console.log('allBpm');
        console.log(allBpm);

        //let sketches = ['mySketch1.js'];
        //let timeInterval = 0;
        //let times = [10000];

        //設定顏色
        // window.bgcolor = [
        //     "#FF5F5F",
        //     "#F8907C",
        //     "#FFC2A7",
        //     "#FFEC57",
        //     "#9EF2BB",
        //     "#6CBAF4",
        //     "#4AD0E8"];

        // let mic;
        // let audioStarted = false;

        let audio; // 音樂對象
        let isMusicReady = false; // 音樂是否準備好
        let currentP5Instance = null; // 當前的 p5.js 實例
        let previousScript = null; // 當前的 sketch 腳本
        let currentSketchIndex = 0; // 當前動畫索引

        function clearPreviousCanvas() {
            if (currentP5Instance) {
                currentP5Instance.remove();
                currentP5Instance = null;
            }
            document.getElementById('canvas-container').innerHTML = '';
            if (previousScript) {
                document.body.removeChild(previousScript);
                previousScript = null;
            }
        }

        function loadSketch(fileName) {
            clearPreviousCanvas();

            const sketchScript = document.createElement('script');
            sketchScript.src = fileName;
            previousScript = sketchScript;
            document.body.appendChild(sketchScript);

            sketchScript.onload = () => {
                setTimeout(() => {
                    if (typeof window.sketch === 'function') {
                        currentP5Instance = new p5(window.sketch, 'canvas-container');
                    } else {
                        console.error('sketch function not found in sketch:', fileName);
                    }
                }, 100);
            };

            sketchScript.onerror = (error) => {
                console.error('Error loading sketch:', error);
            };
        }

        function playNextSketch() {
            if (!isMusicReady) {
                console.warn('Music is not ready. Skipping sketch load.');
                return;
            }

            loadSketch(sketches[currentSketchIndex]);

            speed = allBpm[currentSketchIndex];
            changeColors = allColors[currentSketchIndex];
            let currentInterval = times[currentSketchIndex];
            console.log(currentInterval);

            currentSketchIndex = (currentSketchIndex + 1) % sketches.length;

            setTimeout(playNextSketch, currentInterval);
        }

        function initMusicAndPlay() {
            audio = new Audio("{{ task_status.music_url }}");
            audio.addEventListener('canplaythrough', () => {
                isMusicReady = true;
                audio.play(); // 撥放音樂
                playNextSketch(); // 撥放動畫
            });

            audio.onerror = (error) => {
                console.error('Error loading audio:', error);
            };
        }


        // 全螢幕 API
        function enterFullScreen(element) {
            const canvasContainer = document.getElementById('canvas-container');
            if (element.requestFullscreen) {
                element.requestFullscreen();
            } else if (element.webkitRequestFullscreen) { // Safari
                element.webkitRequestFullscreen();
            } else if (element.msRequestFullscreen) { // IE/Edge
                element.msRequestFullscreen();
            }
        }
        document.getElementById('start-button').addEventListener('click', () => {
            // 進入全螢幕模式
            enterFullScreen(document.getElementById('canvas-container'));

            // 初始化音樂並播放動畫
            initMusicAndPlay();
            document.getElementById('start-button').style.display = 'none'; // 隱藏按鈕
        });

        document.addEventListener('fullscreenchange', () => {
            if (!document.fullscreenElement) {
                location.reload();
                console.log('Exited full screen');
                // 可以在這裡處理退出全螢幕後的行為，例如顯示按鈕
                document.getElementById('start-button').style.display = 'block';
            }
        });



    </script>
    <!--  確保 hand.js 先加載 -->
    <script src="{% static 'jS/ml5_body.js' %}"></script>
{% endblock content %}
