<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% block title %}
		<title>Framelody</title>
		{% endblock %} {% load static %}
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		{% block head %}
		<!-- default head text (typically empty) -->
		{% endblock %}
	</head>
	<body>
		{% block content %}
		<!-- default content text (typically empty) -->
		{% endblock %}
		<script src="{% static 'js/script.js' %}"></script>
	</body>
</html>
